@tailwind base;
@tailwind components;
@tailwind utilities;

/* basicInfo: "Basic Info",
        workExp: "Work Experience",
        Project:"Projects",
        Education:"Education",
        achievement:"Achievements",
        summary:"Summary",
        other:"Other" */
.active{
  color:#0bc5ea;
  cursor: pointer;
  
  text-decoration-color: #0bc5ea;
}
.active-bg{
  background-color: #0bc5ea;
  height: 3px;
}